.container{
    margin: 20px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.card{
    padding: 5px;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    
}
img{
    margin: auto;
    max-width: 300px;
}