<div class="container-flex">
  <video autoplay muted loop id="myVideo">
    <source src="./assets/slike/mountain_lake_time_lapse.mov" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="content">
    <h1>Trekking.com</h1>
    <p>Hey guys, welcome to Trekking.com, Balkan’s biggest adventure travel blog</p>
    <p>Thanks so much for swinging by our little corner of the internet. We’re so stoked
       that you found our site and want to know a bit more about us. So grab your favourite drink, 
       pull up a chair and let us fill you in on just what the hell we are about.</p>
  </div>
</div>
