.navbar-link {
    top: 10px;
    left: auto;
    right: 0;
    width: 300px;
    background-color: white;
    color :rgb(8, 8, 8);
    border-radius: 3px;
    padding: 2px;
  }
  a{
      text-decoration: none;
  }