<div class="container">
  <div id="grid1">
  <div class="row thumbnails group">
    <a href="./assets/slike/trekking1.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking1.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking2.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking2.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking4.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking4.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row thumbnails group">
    <a href="./assets/slike/trekking5.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking5.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking6.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking6.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking7.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking7.jpg" class="img-fluid rounded">
    </a>
  </div>
  <button type="button" class="btn btn-outline-info" routerLink="/galery">See All</button>
</div>
</div>