<div class="container">
  <div class="video">
    <video width="520" height="440" controls>
      <source src="./assets/slike/190212_04_MarrakechAtlasMountains_HD_29.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div>
  <table class="table table-borderless table-dark table-hover ">
    <tbody>
      <tr>
        <td><i class="far fa-caret-square-right"></i></td>
        <td>Mont Blan</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td><i class="far fa-caret-square-right"></i></td>
        <td>Atlas Mountains</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td><i class="far fa-caret-square-right"></i></td>
        <td>Mountain bridge</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>