<div class="container text-center">
  <h1>Trekking Image Galery</h1>
  <hr/>
</div>

<div class="container">
  <div id="grid1">
  <div class="row thumbnails group">
    <a href="./assets/slike/trekking1.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking1.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking2.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking2.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking4.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking4.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row thumbnails group">
    <a href="./assets/slike/trekking5.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking5.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking6.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking6.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking7.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking7.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking8.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking8.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking9.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking9.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking10.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking10.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking11.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking11.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking12.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking12.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking13.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking13.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking14.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking14.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking15.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking15.jpg" class="img-fluid rounded">
    </a>
    <a href="./assets/slike/trekking16.jpg"  data-lightbox="gallery" class="col-md-4">
      <img src="./assets/slike/trekking16.jpg" class="img-fluid rounded">
    </a>
  </div>
</div>
</div>
<app-footer></app-footer>